<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">


        function addCart(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/cart";
            var paramData = {
                storeId : $("#storeId").val(),
                count : $("#count").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("상품을 장바구니에 담았습니다.");
                    location.href='/';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }

    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .mgb-15{
            margin-bottom:15px;
        }
        .mgt-30{
            margin-top:30px;
        }
        .mgt-50{
            margin-top:50px;
        }
        .repImgDiv{
            margin-right:15px;
            height:auto;
            width:50%;
        }
        .repImg{
            width:100%;
            height:400px;
        }
        .wd50{
            height:auto;
            width:50%;
        }
    </style>
</th:block>

<div layout:fragment="content" style="margin-left:25%;margin-right:25%">

    <input type="hidden" id="storeId" th:value="${store.id}">

    <div class="d-flex">
        <div class="repImgDiv">
            <img th:src="${store.storeImgDtoList[0].storeImgUrl}" class = "rounded repImg" th:alt="${store.storeNm}">
        </div>

        <div class="wd50">
            <span th:if="${store.storeOpenStatus == T(com.hanviet.constant.OpenStatus).OPEN}" class="badge btn-danger mgb-15" >
                영업중
            </span>
            <span th:unless="${store.storeOpenStatus == T(com.hanviet.constant.OpenStatus).OPEN}" class="badge btn-danger mgb-15" >
                휴무
            </span>
            <span th:if="${store.storeLocation == T(com.hanviet.constant.Location).HANOI}" class="badge badge-primary mgb-15">
                하노이
            </span>
            <span th:if="${store.storeLocation == T(com.hanviet.constant.Location).BACNHIN}" class="badge badge-primary mgb-15">
                박닌
            </span>
            <span th:if="${store.storeLocation == T(com.hanviet.constant.Location).HAIPHONG}" class="badge badge-primary mgb-15">
                하이퐁
            </span>
            <span th:if="${store.storeLocation == T(com.hanviet.constant.Location).HALONG}" class="badge badge-primary mgb-15">
                하롱
            </span>
            <span th:if="${store.storeLocation == T(com.hanviet.constant.Location).NAMDINH}" class="badge badge-primary mgb-15">
                남딘
            </span>
            <span th:if="${store.storeLocation == T(com.hanviet.constant.Location).NINHBINH}" class="badge badge-primary mgb-15">
                닌빈
            </span>
            <span th:if="${store.storeLocation == T(com.hanviet.constant.Location).LAOCAI}" class="badge badge-primary mgb-15">
                라까오(사파)
            </span>
            <span th:if="${store.storeLocation == T(com.hanviet.constant.Location).HUE}" class="badge badge-primary mgb-15">
                후에
            </span>
            <span th:if="${store.storeLocation == T(com.hanviet.constant.Location).DANANG}" class="badge badge-primary mgb-15">
                다낭
            </span>
            <span th:if="${store.storeLocation == T(com.hanviet.constant.Location).HOIAN}" class="badge badge-primary mgb-15">
                호이안
            </span>
            <span th:if="${store.storeLocation == T(com.hanviet.constant.Location).NHATRANG}" class="badge badge-primary mgb-15">
                나트랑
            </span>
            <span th:if="${store.storeLocation == T(com.hanviet.constant.Location).DALAT}" class="badge badge-primary mgb-15">
                달랏
            </span>
            <span th:if="${store.storeLocation == T(com.hanviet.constant.Location).VUNGTAU}" class="badge badge-primary mgb-15">
                붕따우
            </span>
            <span th:if="${store.storeLocation == T(com.hanviet.constant.Location).PHUQUOC}" class="badge badge-primary mgb-15">
                푸꾸옥
            </span>
            <span th:if="${store.storeLocation == T(com.hanviet.constant.Location).HOCHIMIN}" class="badge btn-danger mgb-15" >
                호치민
            </span>



            <div class="h4" th:text="${store.storeNm}"></div>

            <hr class="my-4">
            <div class="container">
                <h4 class="display-5">주소</h4>
                <p class="lead" th:text="${store.storeAddress}"></p>
            </div>
            <hr class="my-4">

            <div th:if="${store.storeOpenStatus == T(com.hanviet.constant.OpenStatus).OPEN}" class="text-right">
                <a class="btn btn-light border border-primary btn-lg" href="/itemMenu">메뉴보기</a>
            </div>

            <div th:unless="${store.storeOpenStatus == T(com.hanviet.constant.OpenStatus).OPEN}" class="text-right">
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid mgt-30">
        <div class="container">
            <h4 class="display-5">가게 상세 설명</h4>
            <hr class="my-4">
            <p class="lead" th:text="${store.storeDetail}"></p>
        </div>

    </div>

    <div th:each="storeImg : ${store.storeImgDtoList}" class="text-center">
        <img th:if="${not #strings.isEmpty(storeImg.storeImgUrl)}"
             th:src="${storeImg.storeImgUrl}" class="rounded mgb-15" width="800">
    </div>

</div>

</html>